---
const { topCities, topCountries, topBrowsers, topTimeRanges, topDates, topPlatforms } = Astro.props
const capitalize = (str:string) => { return (str[0].toUpperCase() + str.slice(1)) }
---

<section class="mt-4 mb-6 pt-2 flex flex-wrap md:flex-wrap gap-3 justify-stretch items-stretch *:min-w-full *:md:min-w-[310px] *:rounded-lg *:bg-[#2e2e2e40] *:py-4 *:px-5 *:flex-1 *:transition-colors *:duration-300 *:cursor-pointer *:flex *:flex-col *:md:flex-row *:items-center *:justify-stretch *:gap-4 *:md:gap-10">
    <div class="hover:bg-[#f6737322] group/tab">
        <div class="self-start md:self-center text-2xl md:max-w-[40%] mb-1 md:mb-0 group-hover/tab:text-[#f67373] transition-colors duration-300">Country</div>
        <div class="flex flex-col gap-1 items-stretch justify-center w-full">
            {Object.entries(topCountries).map( ([key,val]) => (
                (parseInt(val as string) > 0 && key!=='null') ?  (<span class="flex justify-between w-full *:text-[#fff7] *:hover:text-white *:transition-colors *:duration-300"> <span>{key}</span><span>{val}</span> </span>) : <span class="hidden"></span>
            ))}
        </div>
    </div>

    
    <div class="hover:bg-[#f6737322] group/tab">
        <div class="self-start md:self-center text-2xl md:max-w-[40%] mb-1 md:mb-0 group-hover/tab:text-[#f67373] transition-colors duration-300">City</div>
        <div class="flex flex-col gap-1 items-stretch justify-center w-full">
            {Object.entries(topCities).map( ([key,val]) => (
                (parseInt(val as string) > 0 && key!=='null') ?  (<span class="flex justify-between w-full *:text-[#fff7] *:hover:text-white *:transition-colors *:duration-300"> <span>{key}</span><span>{val}</span> </span>) : <span class="hidden"></span>
            ))}
        </div>
    </div>
    
<!-- trying to write a comment while a moron takes video for upword 
    portfolio and having no idea about the end result just blindly follwing instructions
shubham ka job ahemdabaad me laga hai aur wo Gurjrat me hai ab aur kitna likhna hoga pata nhi  -->

    
    <div class="hover:bg-[#f6737322] group/tab">
        <div class="self-start md:self-center text-2xl md:max-w-[40%] mb-1 md:mb-0 group-hover/tab:text-[#f67373] transition-colors duration-300">Browser</div>
        <div class="flex flex-col gap-1 items-stretch justify-center w-full">
            {Object.entries(topBrowsers).map( ([key,val]) => (
                parseInt(val as string) > 0 ?  (<span class="flex justify-between w-full *:text-[#fff7] *:hover:text-white *:transition-colors *:duration-300"> <span>{key}</span><span>{val}</span> </span>) : <span class="hidden"></span>
            ))}
        </div>
    </div>

    <div class="hover:bg-[#f6737322] group/tab">
        <div class="self-start md:self-center text-2xl md:max-w-[40%] mb-1 md:mb-0 group-hover/tab:text-[#f67373] transition-colors duration-300">Time</div>
        <div class="flex flex-col gap-1 items-stretch justify-center w-full">
            {Object.entries(topTimeRanges).map( ([key,val]) => (
                parseInt(val as string) > 0 ?  (<span class="flex justify-between w-full *:text-[#fff7] *:hover:text-white *:transition-colors *:duration-300"> <span>{capitalize(key)}</span><span>{val}</span> </span>) : <span class="hidden"></span>
            ))}
        </div>
    </div>

    
    <div class="hover:bg-[#f6737322] group/tab">
        <div class="self-start md:self-center text-2xl md:max-w-[40%] mb-1 md:mb-0 group-hover/tab:text-[#f67373] transition-colors duration-300">Date</div>
        <div class="flex flex-col gap-1 items-stretch justify-center w-full">
            {Object.entries(topDates).map( ([key,val]) => (
                parseInt(val as string) > 0 ?  (<span class="flex justify-between w-full *:text-[#fff7] *:hover:text-white *:transition-colors *:duration-300"> <span>{key}</span><span>{val}</span> </span>) : <span class="hidden"></span>
            ))}
        </div>
    </div>

    
    <div class="hover:bg-[#f6737322] group/tab">
        <div class="self-start md:self-center text-2xl md:max-w-[40%] mb-1 md:mb-0 group-hover/tab:text-[#f67373] transition-colors duration-300">Platform</div>
        <div class="flex flex-col gap-1 items-stretch justify-center w-full">
            {Object.entries(topPlatforms).map( ([key,val]) => (
                parseInt(val as string) > 0 ?  (<span class="flex justify-between w-full *:text-[#fff7] *:hover:text-white *:transition-colors *:duration-300"> <span>{key}</span><span>{val}</span> </span>) : <span class="hidden"></span>
            ))}
        </div>
    </div>
</section>