---
import MainLayout from '../layouts/Layout.astro'
import SiteList from '../components/SiteList.astro'
import StatsBox from '../components/StatsBox.astro'
import { maxContentSpace } from '../constants/constants'
import { readSupabase } from '../constants/readSupa'
import { getCleanData } from "../constants/shapingData/getCleanData"
import { getUsefulFormattedData } from "../constants/shapingData/getHighlightsData"
import { SITES_LIST } from '../constants/data/data'

let trafficData = {}

for(let i=0;i<SITES_LIST.length;i++) {
	const name = SITES_LIST[i].name 
	const lowerCaseName = name.toLowerCase()
	const dbData = await readSupabase({tableName:`traffic-${lowerCaseName}`})

	const usefulData = await getUsefulFormattedData(dbData as any[])

	trafficData[lowerCaseName] = {
		title: name,
		link: SITES_LIST[i].subtitle,
		monthlyViews: usefulData.monthsViews,
		highlightsData: usefulData.highlights,
		allData: await getCleanData(dbData as any),
		dataAttrVal: lowerCaseName
	}
}



---

<MainLayout title="Webstats: Kushal Kumar Saha">
	<div class={`px-4 md:px-8 ${maxContentSpace} overflow-hidden flex flex-col gap-5 md:pt-4 md:gap-6 md:flex-row items-stretch justify-start md:justify-stretch w-full h-full relative`} >
		<SiteList/>
		<main class="relative grid">
			{ Object.entries(trafficData).map( data => (
				<StatsBox 
					title=			{data[1].title} 
					link=			{data[1].link} 
					monthlyViews=	{data[1].monthlyViews} 
					highlightsData=	{data[1].highlightsData} 
					allData=		{data[1].allData} 
					dataAttrVal=	{data[1].dataAttrVal}
				/>
			)) }
		</main>
	</div>
</MainLayout>


<script>
	const ascii_banner = "%c\n   __ __            __         __  __ __\n  / //_/__ __ ___  / /  ___ _ / / / //_/__ __ __ _  ___ _ ____\n / ,<  / // /(_-< / _ \\/ _ `// / / ,<  / // //  ' \\/ _ `// __/\n/_/|_| \\_,_//___//_//_/\\_,_//_/ /_/|_| \\_,_//_/_/_/\\_,_//_/\n \n\n %cwelcomes you, fellow programmer. \n"
	const links = "Check me out here:\n\n%c • GitHub: https://github.com/bcd-kushal/\n%c • Portfolio: https://portfolio.kushalkumarsaha.com/\n%c • LinkedIn: https://linkedin.com/in/dev-kushal/\n%c • Email: dev@kushalkumarsaha.com\n\n" 

	console.log(ascii_banner, 'color: #f07373', 'color: #fff')
	console.log(links, 'color: #fff', 'color: #fff', 'color: #fff', 'color: #fff')
</script>